<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--스프링 프레임워크도 다른 컨테이너와 마찬가지로 자신이 관리할 클래스들이 등록된 XML설정 파일이 필요하다(이 파일)-->

    <!--scope = prototype - 매 번 요청될 때마다 객체 생성-->
    <bean
            id="tv"
            class="polymorphism.SamsungTV"
            lazy-init="true"
            scope="singleton"
            init-method="initMethod"
            destroy-method="destoryMethod"/>


</beans>